
.DS_Store
bin/Debug/netcoreapp3.0/AppServiceScaleOut
bin/Debug/netcoreapp3.0/AppServiceScaleOut.deps.json
bin/Debug/netcoreapp3.0/AppServiceScaleOut.dll
bin/Debug/netcoreapp3.0/AppServiceScaleOut.pdb
bin/Debug/netcoreapp3.0/AppServiceScaleOut.runtimeconfig.dev.json
bin/Debug/netcoreapp3.0/AppServiceScaleOut.runtimeconfig.json
bin/Debug/netcoreapp3.0/AppServiceScaleOut.Views.dll
bin/Debug/netcoreapp3.0/AppServiceScaleOut.Views.pdb
bin/Debug/netcoreapp3.0/appsettings.Development.json
bin/Debug/netcoreapp3.0/appsettings.json
bin/Debug/netcoreapp3.0/Properties/launchSettings.json
obj/AppServiceScaleOut.csproj.nuget.cache
obj/AppServiceScaleOut.csproj.nuget.dgspec.json
obj/AppServiceScaleOut.csproj.nuget.g.props
obj/AppServiceScaleOut.csproj.nuget.g.targets
obj/Debug/netcoreapp3.0/AppServiceScaleOut
obj/Debug/netcoreapp3.0/AppServiceScaleOut.AssemblyInfo.cs
obj/Debug/netcoreapp3.0/AppServiceScaleOut.AssemblyInfoInputs.cache
obj/Debug/netcoreapp3.0/AppServiceScaleOut.assets.cache
obj/Debug/netcoreapp3.0/AppServiceScaleOut.csproj.CopyComplete
obj/Debug/netcoreapp3.0/AppServiceScaleOut.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp3.0/AppServiceScaleOut.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.0/AppServiceScaleOut.dll
obj/Debug/netcoreapp3.0/AppServiceScaleOut.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp3.0/AppServiceScaleOut.pdb
obj/Debug/netcoreapp3.0/AppServiceScaleOut.RazorAssemblyInfo.cache
obj/Debug/netcoreapp3.0/AppServiceScaleOut.RazorAssemblyInfo.cs
obj/Debug/netcoreapp3.0/AppServiceScaleOut.RazorCoreGenerate.cache
obj/Debug/netcoreapp3.0/AppServiceScaleOut.RazorTargetAssemblyInfo.cache
obj/Debug/netcoreapp3.0/AppServiceScaleOut.RazorTargetAssemblyInfo.cs
obj/Debug/netcoreapp3.0/AppServiceScaleOut.TagHelpers.input.cache
obj/Debug/netcoreapp3.0/AppServiceScaleOut.TagHelpers.output.cache
obj/Debug/netcoreapp3.0/AppServiceScaleOut.Views.dll
obj/Debug/netcoreapp3.0/AppServiceScaleOut.Views.pdb
obj/Debug/netcoreapp3.0/Razor/Pages/_ViewImports.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Pages/_ViewStart.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Pages/Error.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Pages/Index.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Pages/Shared/_Layout.cshtml.g.cs
obj/Debug/netcoreapp3.0/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/netcoreapp3.0/staticwebassets/AppServiceScaleOut.StaticWebAssets.Manifest.cache
obj/Debug/netcoreapp3.0/staticwebassets/AppServiceScaleOut.StaticWebAssets.xml
obj/Debug/netcoreapp3.1/AppServiceScaleOut.assets.cache
obj/Debug/netcoreapp3.1/AppServiceScaleOut.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/AppServiceScaleOut.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/netcoreapp3.1/AppServiceScaleOut.RazorAssemblyInfo.cache
obj/Debug/netcoreapp3.1/AppServiceScaleOut.RazorAssemblyInfo.cs
obj/project.assets.json
Properties/launchSettings.json
.vs/AppServiceScaleOut/xs/UserPrefs.xml
.vs/AppServiceScaleOut/xs/sqlite3/storage.ide
.vs/AppServiceScaleOut/xs/sqlite3/db.lock
.vs/AppServiceScaleOut/xs/project-cache/AppServiceScaleOut-Debug.json
